
<body>
    <br><br>
    <b> <h2 style="color:rgb(255, 255, 255); font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center;">Payment</h2></b>
    <div class="ma"><br>
    <form class="frm">
    <p>We are currently accepting cash only</p>
    <button type="button" class="btn " disabled>UPI</button><br>
     <button type="button" class="btn "routerLink="/payment1">Cash</button><br>
    <button type="button" class="btn " disabled>Net Banking</button><br>
    <button type="button" class="btn " disabled>Card Payment</button><br>
    </form>
    
    </div>
    </body>
    
    
