/* You can add global styles to this file, and also import other style files */
body {

  background: linear-gradient(#a6d8ff, #fff, #fff);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.logo-image {

  width: 50px;
  height: 70px;
  margin-top: -10px;
}

.img-fluid {

  width: 150px;
  height: 70px;
  margin-top: -10px;
}



