/* You can add global styles to this file, and also import other style files */
body {
 
  background: linear-gradient(#a6d8ff,#fff,#fff);
    font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.logo-image{

  width: 50px;
  height: 70px;
  margin-top: -10px;

}

.img-fluid{

  width: 200px;

  height: 90px;

  margin-top: -10px;



}




.card-body{
  background-color: azure;
 

}

.card1{
 
margin-bottom: 50px;
  margin-right: 100px;
margin-left: 150px;


}

.card2{
 
margin-bottom: 10px;
  margin-right: 500px;
margin-left: 300px;

}

.card-body{
  width: 80%;
  height: 100%;
}